doctype html
html
  head
    title GifChess
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimal-ui")
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel='stylesheet', href=locals.resourcePrefix + locals.cssFileName)
    script // location.host.split('.')[0]==='ss15-luke-js'&&location.replace('https://gifchess.club'+location.pathname)
    script(src=locals.resourcePrefix + locals.jsFileName)
  body