mixin auth()
  | You must be logged in to start a new game. Try 
  a.alert-link(herf='#', data-hook='login') logging in with Twitter.

mixin error()
  | This game does not exist. Find a 
  a.alert-link(href='/games/new') new one?

mixin camera()
  | Please enable your camera. After doing that you need to 
  a.alert-link(href='#', data-hook='refresh') refresh the page
  | .

.game-page
  .modal(data-hook='modal')
  .alert.alert-danger(data-hook='error')
  .row(data-hook='content')
    .col-xs-offset-2.col-xs-8.col-sm-7.col-sm-offset-0.col-md-5.col-md-offset-2.board-col(data-hook='board-col')
      div(data-hook='chess-game')
    .col-xs-12.col-sm-5(data-hook='player-col')
      .player-info(data-hook='top-player')
        span.player-name(data-hook='name')
        ul.moves(data-hook='moves')
      .player-info(data-hook='bottom-player')
        span.player-name(data-hook='name')
        ul.moves(data-hook='moves')
        div.hide(data-hook='gif-camera')