div
  div.alert.alert-danger(data-hook='error')
  .row(data-hook='content')
    .col-xs-12.col-sm-7
      p.visible-xs-block.player-info(data-hook='top-player')
      div(data-hook='chess-game')
      p.visible-xs-block.player-info(data-hook='bottom-player')
    .col-xs-12.col-sm-5.hidden-xs
      p.player-info(data-hook='top-player')
      p.player-info(data-hook='bottom-player')