div
  h3
    | Animated gifs are cool 
    small (Obviously.)

  h3 Online chess is pretty fun too

  p Sooooo, what if everytime you made a chess move your webcam snapped took a short clip of you, and sent that over to your opponent in gif form along with your move? Pretty fun, I think.

  p Each game becomes more than the sum of its moves (or result) because it can be replayed like a flipbook. Each move is forever tied to an animated gif. What'd you look like at the first move? Checkmate? When you blundered your queen?

  h4 GifChess is here to show you

  div.alert.alert-warning
    a(href='#', data-hook='login') Login with Twitter
    |  and 
    a(href='/games/new') find an open game
    |  to get started.