div
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2
      h2
        | Animated gifs are cool 
        small (Obviously.)

      h3 Online chess is pretty fun too

      p Sooooo, what if everytime you made a chess move your webcam took a short clip of you, and sent that over to your opponent in gif form along with your move? Pretty fun, eh?

      p Each game becomes more than the sum of its moves because it can be replayed like a flipbook. Each move is forever tied to an animated gif. What'd you look like at the first move? Checkmate? When you blundered your queen?

      h3 Hackathon Judges

      p
        | You can login with Twitter, and start/find a new game. Another user logged in with Twitter will also have to try and find a new game so that both players can be paired together. If you want to see a quick sample of a game, check out 
        a(href='/games/-JgXGhw7F67Ma1P5yPRV') this game
        |  (sorry for the terrible pics!)

      p 
        | If you want to play an actual game 
        a(href='https://twitter.com/lukekarrys', target='_blank') ping me on Twitter
        |  :)

      div.alert.alert-success
        strong Get started: 
        br
        a.alert-link(href='#', data-hook='login') Login with Twitter
        |  and 
        a.alert-link(href='/games/new') find an open game
        | .